<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Store</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        @if (isAuthenticated) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-product">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
        }
      </ul>
      <div class="navbar-text">
        @if (isAuthenticated) {
          Welcome, {{username}}!
          <button class="btn btn-link" (click)="logout()">Logout</button>
        } @else {
          <a class="btn btn-link" routerLink="/login">Login</a>
        }
      </div>
    <div class="d-flex">
      <app-primary-button 
        [label]="'Cart(' + cartService.cart().length + ')'"
        routerLink="/cart"
        class="nav-link"
      /> 
    </div>
    </div> 
  </div>
</nav>
<router-outlet/>