<div class="d-flex flex-wrap justify-content-between mb-3">
    <div class="card flex-grow-1 mx-2 mb-3" style="max-width: 48%;">
      <div class="card-body">
        <h5 class="card-title">{{ user.name.firstname }} {{ user.name.lastname }}</h5>
        <p class="card-text">
          <strong>Username:</strong> {{ user.username }}<br>
          <strong>Email:</strong> {{ user.email }}<br>
          <strong>Phone:</strong> {{ user.phone }}<br>
          <strong>City:</strong> {{ user.address.city }}
        </p>
      </div>
    </div>
  </div>